@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' ,'Cairo',
    sans-serif, 'cursive' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.fonts{
  
    font-family: 'Cairo', sans-serif;
}
.navFonts{
  font-family: 'Space Grotesk', sans-serif;
}
.headerFont{
  font-family: 'Poiret One', cursive;
}

.logoFont{
  font-family: 'Petit Formal Script', cursive;
}
.sdw{
  box-shadow: 4px 6px 10px 4px rgba(0, 0, 0, 0.2), 4px 8px 20px 4px rgba(0, 0, 0, 0.19);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-box{
  height: 35px;
  width: 35px;
  background: #dde1e7;
 
  border-radius: 50%;
  transition:500ms;
 
}
.img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
